.menu {
    width: 100%;
    height: 100vh;
    background-color: #E8EFF9;
    &__header {
        display: flex;
        padding-top: 64px;
        justify-content: space-between;
    }
    &__navigation {
        padding-top: 32px;
        a {
            text-decoration: none;
        }
        li {
            padding-top: 32px;
            color: #292929;
            font-family: Inter;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            list-style-type: none;
        }
    }
}