@import 'blocks/promo';
@import 'blocks/menu';
@import 'blocks/recomended';
@import 'blocks/category';
@import 'blocks/whybuy';
@import 'blocks/footer';

@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter-ExtraBoldItalic.ttf);
    font-style: italic;
    font-weight: 800;
}
@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter-Regular.ttf);
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

*{
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}
.container {
    padding: 0 120px 0 120px;
    margin: 0 auto;
}
